@()(implicit request: RequestHeader)

@template {
    <div class="container">
        <div class="page-header">
            <h1>Sampling Twitter stream over WebSocket</h1>
        </div>
        <div id="replaceDiv" class="lead"></div>
    </div>

    <footer class="footer">
        <div class="bg-primary">
            <p class="text-center lead" id="replaceClients"></p>
        </div>
    </footer>

    <script>
            var messages = [];

            function init() {
                var websocket = new WebSocket("@routes.Application.wsocket.webSocketURL()");

//                websocket.onopen = function(evt) {
//                    alert("connected to websocket");
//                }

                websocket.onmessage = function (evt) {
                    var data = JSON.parse(evt.data)

                    switch (data.type) {
                        case "status":
                            messages.push("<p><b>&lt;" + data.user + "&gt;</b> " + linkifyStr(data.content) + "</p>");
                            if (messages.length > 10) messages.shift();
                            $('#replaceDiv').html(messages);
                            break;

                        case "clients":
                            var msg = data.clients == 1 ? " client online" : " clients online";
                            $('#replaceClients').text(data.clients + msg);
                            break;
                    }
                }

                websocket.onclose = function (evt) {
                    setTimeout(function () {
                        init();
                    }, 5000);
                }
            }
            init();

    </script>

    <script src="@routes.Assets.at("javascripts/linkify.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/linkify-string.min.js")"></script>
}