@()(implicit request: RequestHeader)

@main {
    <div id="output"></div>

    <script>
            var output;
            function init() {
                output = document.getElementById("output");
                testWebSocket();
            }
            function testWebSocket() {
                websocket = new WebSocket("@routes.Application.wsocket.webSocketURL()");

//                websocket.onopen = function(evt) {
//                    alert("connected to websocket");
//                }

                websocket.onmessage = function(evt) {
                    output.innerHTML = evt.data;
                }
            }
            init();
    </script>

}