@()(implicit request: RequestHeader)

@template {
    <div class="container">
        <div class="page-header">
            <h1>Sampling Twitter stream over WebSocket</h1>
        </div>
        <div id="replaceDiv" class="lead"></div>
    </div>

    <footer class="footer">
        <div class="bg-primary">
            <p class="text-center lead" id="replaceClients"></p>
        </div>
    </footer>


    <script src="@routes.Assets.at("javascripts/websocket-client.js")"></script>
    <script>startWebSocket("@routes.Application.wsocket.webSocketURL()");</script>

    <script src="@routes.Assets.at("javascripts/linkify.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/linkify-string.min.js")"></script>
}